---
import CTA from "@components/CTA.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="Страница 404" desc="Ошибка 404">
 <CTA />
 <div class="py-10">
  <h1 class="text-[32px] font-bold">Данной страницы не существует...</h1>
  <a href="/" class="underline text-blue-500 inline-block mt-[15px]">Перейти на главную</a>
 </div>
</Layout>
