---
import Layout from "@layouts/Layout.astro";
import { linksFeedBack } from "src/data/links";
---

<Layout
 title="Обратная связь"
 desc="Если нашли ошибки в тексте, или же есть некорректные, по вашему мнению моменты в текстах,то вот контакты для связи с автором."
>
 <div class="py-10 prose prose-li:text-[18px] prose-p:text-[18px] max-w-none lg:prose-md">
  <h2>Приветствуем обратную связь 👋</h2>
  <p>
   Ваш путь к самопознанию уникален и вдохновляющий, и мы в "S-Ready" здесь, чтобы помочь
   вам на каждом этапе этого путешествия. Мы ценим вашу связь, будь то вопросы,
   предложения, отзывы или просто слова благодарности.
  </p>

  <p>
   Нам важно знать, что вы думаете, и мы приветствуем любую обратную связь, которая
   поможет нам улучшить наши услуги и контент. Напишите нам, если у вас есть идеи, которые
   вы хотели бы поделиться, или если вам просто нужно, чтобы кто-то прислушался к вашему
   опыту.
  </p>

  <p>
   Ваш голос имеет значение. Ваши мысли, ощущения и опыт помогут нам улучшить "S-Ready",
   делая его более ценным источником поддержки для вас и для нашего растущего сообщества.
  </p>
  <p>
   Свяжитесь с нами сегодня, заполнив форму ниже. Мы обещаем, что каждое сообщение будет
   прочитано и обработано с должным вниманием и уважением.
  </p>
  <h3>Связаться с нами</h3>
  <ul>
   {
    linksFeedBack.map((link) => (
     <li>
      <a href={link.link}>{link.linkName}</a>
     </li>
    ))
   }
  </ul>
 </div>
</Layout>
