---
import SMenu from '@components/customs/SMenu.astro';
import { SITE_NAME } from "src/consts";
import { links } from "src/data/links";
const name = SITE_NAME;
---

<header class="my-[30px]">
 <nav class="flex items-center gap-[20px] flex-wrap justify-between">
  <!-- Тест -->
  <SMenu />
  <!-- Тест -->
  <a href="/" title="На главную" class="flex items-center gap-[10px]">
   <svg
    width="23"
    height="26"
    viewBox="0 0 23 26"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
   >
    <path
     d="M13.9361 12.1552C16.9657 12.1552 19.3894 14.5863 19.3894 17.6251C19.3894 18.6947 19.0865 19.7036 18.5533 20.5423L22.2857 24.3104L20.6013 26L16.8203 22.2684C15.9842 22.791 14.9904 23.0949 13.9361 23.0949C10.9065 23.0949 8.48287 20.6639 8.48287 17.6251C8.48287 14.5863 10.9065 12.1552 13.9361 12.1552ZM13.9361 14.5863C13.1326 14.5863 12.3621 14.9064 11.7939 15.4763C11.2257 16.0462 10.9065 16.8191 10.9065 17.6251C10.9065 18.431 11.2257 19.2039 11.7939 19.7738C12.3621 20.3437 13.1326 20.6639 13.9361 20.6639C14.7396 20.6639 15.5102 20.3437 16.0784 19.7738C16.6466 19.2039 16.9657 18.431 16.9657 17.6251C16.9657 16.8191 16.6466 16.0462 16.0784 15.4763C15.5102 14.9064 14.7396 14.5863 13.9361 14.5863ZM10.9065 2.43104V12.1552L7.87695 9.42029L4.84735 12.1552V2.43104H2.42368V21.8794H7.27103C7.92543 22.864 8.76159 23.7027 9.73106 24.3104H2.42368C1.78088 24.3104 1.16441 24.0543 0.709879 23.5984C0.255351 23.1425 0 22.5241 0 21.8794V2.43104C0 1.78629 0.255351 1.16794 0.709879 0.712036C1.16441 0.256127 1.78088 0 2.42368 0H16.9657C17.6085 0 18.225 0.256127 18.6795 0.712036C19.1341 1.16794 19.3894 1.78629 19.3894 2.43104V11.9243C18.6866 11.2557 17.8746 10.7087 16.9657 10.3319V2.43104H10.9065Z"
     fill="#070A20"></path>
   </svg>
   <span class="text-[18px] font-medium">{name}</span>
  </a>

  <nav aria-label="Меню" class="flex items-center gap-[20px]">
   {
    links.map((link) => (
     <a href={link.toLink} class="underline underline-offset-4">
      {link.toName}
     </a>
    ))
   }
   <!-- Пока что уберем -->
   <!-- <LangYandex /> -->
  </nav>
 </nav>
</header>
